<footer>
	<div class="links">
		<a href="{{ footerLinksArr.actions }}">Акции</a>
		<a href="{{ footerLinksArr.delivery }}">Доставка</a>
		<a href="{{ footerLinksArr.payment }}">Оплата</a>
		<a href="{{ footerLinksArr.pickupPoints }}">Пункты самовывоза</a>
		<a href="{{ footerLinksArr.warranty }}">Гарантия</a>
		<a href="{{ footerLinksArr.courier }}">Персональный курьер</a>
		<a href="{{ footerLinksArr.contacts }}">Контакты</a>
		<a href="{{ footerLinksArr.about }}">О компании</a>
		<a href="{{ footerLinksArr.credit }}">Покупка в кредит</a>
		<a href="{{ footerLinksArr.compensation }}">Компенсация инвалидам</a>
	</div>
	<div class="text">
		<p class="copyright">© 2010-2015 Интернет-магазин «Сердце»</p>
		<p class="info">Внимание! Согласно положениями Статьи 437 Гражданского кодекса РФ данный сайт несет исключительно информационный характер<br />и не является публичной офертой.</p>
	</div>

	<div class="fullBtnHolder">
		<div class="fullVersionBottom">Полная версия сайта</div>
	</div>
</footer>